<div class="vh-100 d-flex flex-column">
  <app-header></app-header>
  <div class="d-flex flex-row overflow-hidden">
    <nav class="col-2 overflow-auto text-white bg-dark">
      <div class="d-flex flex-column flex-shrink-0 p-3 h-100">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item" *ngFor="let menuItem of (menuItems$ | async)">
            <a class="nav-link text-white py-4" [routerLink]="menuItem.path" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" ariaCurrentWhenActive="page">
              {{ menuItem.label }}
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container-fluid">
  <app-footer></app-footer>
</div>
